SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=158.160.233.15,localhost,127.0.0.1

# Postgres (docker-compose)
POSTGRES_DB=drf
POSTGRES_USER=drf
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis (celery)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Optional email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
